@import 'partials/_variables';
@import 'partials/_card';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    font-style: italic;
}

.cardbox {
    display: flex;
    flex-wrap: wrap;
}
